body {
    font-size: 30px;
    font-family: fantasy;
    text-align: center;
    color: red;
}
#heading {
    background-color: dodgerblue;

}
#balloons {
    margin-right: 1200px;
}
h2{
    font-family: cursive;
    color: crimson;
}
h3 {
    font-family: sans-serif;
    color: darkslateblue;
}